extends layout

block content
  h1= title
  
  table
    tr
      th Código 
      th Título
    each t in termos 
      tr 
        td= t.termo
        td= t.estado
        td= t.idClasse 
        td= t.tituloClasse
        td= t.codigoClasse
        td= t.id